@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Ant Design Carousel */
.product-carousel {
  margin: 0 auto;
  width: 100%;
}

.product-carousel .slick-list {
  margin: 0 auto;
}

.product-carousel .slick-dots {
  bottom: -40px;
}

.product-carousel .slick-dots li button {
  background: #D4D4D4;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.product-carousel .slick-dots li.slick-active button {
  background: #00B0FF;
}

.product-carousel .slick-prev,
.product-carousel .slick-next {
  z-index: 10;
  color: #2C2C2C;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.product-carousel .slick-prev:before,
.product-carousel .slick-next:before {
  font-size: 24px;
  color: #2C2C2C;
  opacity: 0.8;
}

.product-carousel .slick-prev:hover:before,
.product-carousel .slick-next:hover:before {
  color: #00B0FF;
  opacity: 1;
}

.product-carousel .slick-prev {
  left: -50px;
}

.product-carousel .slick-next {
  right: -50px;
}

@media (max-width: 1024px) {
  .product-carousel .slick-prev {
    left: 10px;
  }

  .product-carousel .slick-next {
    right: 10px;
  }
}

